.Title{
font-size: 1.5rem;
margin-top: 4rem;
color: black;
margin-left: 4rem;
font-weight: bold;
}
.containerAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding: 20px;
    border-radius: 5px;
    height: 100px;
    background-color: black ;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.workImg{
    height: 20rem;
}
@media (min-width: 360px) and (max-width: 860px) {
    .containerImg{
        display: none;
    }
    .fade{
        animation-duration: 0;
    }
  }


