
.Button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: white;
}
.imgButton{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.containerLi{
    background-color: white;
}
.list{
background-color: white;
color: white;
}
.listNone{
    display: none;
}
.menu{
    position: relative;
    height: 100vh;
    width: 300px;
    z-index: 1000;
    background-color: white;
    border-top: 1px solid rgb(209, 206, 206);
}