.containerAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding: 20px;
    border-radius: 5px;
    height: 100px;
    background-color: black ;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.workImg{
    height: 20rem;
}