.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 564px;
    max-height: auto;
    background-color: black;
    color: white;
}
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTitle{
    font-size: 1.5rem;
color: white;
margin-left: -8rem;
font-weight: bold;
margin-top: 4rem;
text-align: end;
width: 100%;
margin-bottom: 5rem;
}
.label{
    margin-bottom: 1rem;
}
.inputEmail{
    margin-bottom: 1rem;
    height: 1.3rem;
    width: 200px;
    border-radius: 5px;
}
.textInput{
    margin-bottom: 1rem;
    height: 6rem;
    width: 300px;
    border-radius: 5px;
}

.buttonEmail{
    width: 100px;
    height: 2rem;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.containerLabel{
    
    display: flex;
}
.iconEmail{
    width: 1rem;
    height: 1rem; 
    margin-right: 1rem;
}
.succes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconSucces{
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
}